/* styles/global_search.css */

.global-search-bar-container {
    position: relative;
    flex-grow: 1; /* Allow it to take available space */
    max-width: 500px; /* Or adjust as needed */
    color: #fff;
    backdrop-filter: blur(5px);
    z-index: 100; /* Keep z-index high for dropdown */
}
.global-search-bar-container input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 0;
    border: 1px solid #53ffff94;
    background-color: #00000074;
    color: #fff;
}

.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;

}

.search-result-item {
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
        backdrop-filter: blur(5px); 
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background-color: var(--bg-hover-color);
}

.search-result-item p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-color);
}

.search-result-item small {
    font-size: 0.75rem;
    color: var(--text-muted-color);
}

.search-result-item .result-type {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.7rem;
    margin: 8px;
    color: white;
    font-weight: bold;
}

.search-result-item .result-type.memo {
    background-color: var(--primary-color);
}

.search-result-item .result-type.bookmark {
    background-color: var(--quadrant-4-color); /* Purple */
}

.search-result-item .result-type.history {
    background-color: var(--quadrant-3-color); /* Orange */
}
